<div class="menuVips">
    <div class="img_menuVips">
        <img src="../../images/vips.png" alt="image vip menu">
    </div>
    <div class="selection_menuVips">
        <div class="ajouter_menuVips">
            <a href="/vips">Ajouter</a>
        </div>
        <div class="modifier_menuVips">
            <a href="/vips/modifier">Modifier</a>
        </div>
        <div class="supprimer_menuVips">
            <a href="/vips/supprimer">Supprimer</a>
        </div>
    </div>
</div>
