<div class="menuPhotos">
    <div class="img_menuPhotos">
        <img src="../../../images/photos.png" alt="photos">
    </div>
    <div class="selection_menuPhotos">
        <div class="">
            <a href="/photos">Ajouter</a>
        </div>
        <div class="">
            <a href="/photos/supprimer/-1">Supprimer</a>
        </div>
    </div>
</div>
