{{> menuPhotos}}

<div class="formulaire_photos">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Ajout d'une photo</b> </legend>

            <div class="nom_ajout_photos">
                <div class="text_nom_ajout_photos">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_ajout_photos">
                    <select class="" name="vip">
                        {{#each listVips}}
                        <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="parcours_image_ajout_photos">
                <div class="text_image_ajout_photos">
                    <p>Adresse de la photo :</p>
                </div>
                <div class="input_parcours_image_ajout_photos">
                    <input type="file" name="photo_address" value="">
                </div>
            </div>

            <div class="titre_image_ajout_photos">
                <div class="text_titre_image_ajout_photos">
                    <p>Titre :</p>
                </div>
                <div class="input_titre_image_ajout_photos">
                    <input type="text" name="titre" value="">
                </div>
            </div>

            <div class="commentaire_image_ajout_photos">
                <div class="text_commentaire_image_ajout_photos">
                    <p>Un petit commentaire ?</p>
                </div>
                <div class="input_commentaire_image_ajout_photos">
                    <textarea name="commentaire_photo" rows="8" cols="80"></textarea>
                </div>
            </div>

            <div class="mesBoutons">
                <div class="btn_annulation">
                    <input type="reset" name="annulation" value="Annuler">
                </div>
                <div class="btn_validation">
                    <input type="submit" name="validation" value="Valider">
                </div>
            </div>

        </fieldset>
    </form>
</div>
