{{> menuVips}}

<div class="formulaire_vips">
    <form class="" action="/vips/ajoutVip" method="post">
        <fieldset>
            <legend> <b>Ajout VIPs</b> </legend>

            <div class="nom_ajout_vip">
                <div class="text_nom_ajout_vip">
                    <p>Nom* :</p>
                </div>
                <div class="input_nom_ajout_vip">
                    <input type="text" name="VIP_NOM" value="" required>
                </div>
            </div>

            <div class="prenom_ajout_vip">
                <div class="text_prenom_ajout_vip">
                    <p>Prenom* :</p>
                </div>
                <div class="input_prenom_ajout_vip">
                    <input type="text" name="VIP_PRENOM" value="" required>
                </div>
            </div>

            <div class="sexe_ajout_vip">
                <div class="text_sexe_ajout_vip">
                    <p>Sexe :</p>
                </div>
                <div class="input_sexe_ajout_vip">
                    <select class="" name="VIP_SEXE">
                        <option value="M">Masculin</option>
                        <option value="F">Féminin</option>
                    </select>
                </div>
            </div>

            <div class="naissance_ajout_vip">
                <div class="text_naissance_ajout_vip">
                    <p>Date de naissance* :</p>
                </div>
                <div class="input_naissance_ajout_vip">
                    <input type="date" name="VIP_NAISSANCE" value="" required>
                </div>
            </div>

            <div class="nationalite_ajout_vip">
                <div class="text_nationalite_ajout_vip">
                    <p>Nationalite :</p>
                </div>
                <div class="input_nationalite_ajout_vip">
                    <select class="" name="NATIONALITE_NUMERO">
                        {{#each listNationalites}}
                        <option value="{{this.NATIONALITE_NUMERO}}">{{this.NATIONALITE_NOM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="commentaire_ajout_vip">
                <div class="commentaire_prenom_ajout_vip">
                    <p>Commentaire : </p>
                </div>
                <div class="input_commentaire_ajout_vip">
                    <textarea name="VIP_TEXTE" rows="8" cols="80"maxlength="65535"></textarea>
                </div>
            </div>

            <div class="image_ajout_vip">
                <div class="image_parcours_ajout_vip">
                    <p>Sélectionner l'image :</p>
                </div>
                <div class="input_image_ajout_vip">
                    <div class="parcours_input_image_ajout_vip">
                        <input type="file" name="PHOTO_ADRESSE" value="" accept=".jpg, .jpeg, .png">
                    </div>

                    <div class="sujets_input_image_ajout_vip">
                        <p>Sujet :</p>
                        <input type="text" name="PHOTO_SUJET" value="">
                    </div>

                    <div class="commentaire_input_image_ajout_vip">
                        <p>Commentaire :</p>
                        <textarea name="PHOTO_COMMENTAIRE" rows="8" cols="80" maxlength="65535"></textarea>
                    </div>
                </div>
            </div>

            <div class="mesBoutons">
                <div class="btn_annulation">
                    <input type="reset" name="annulation" value="Annuler">
                </div>
                <div class="btn_validation">
                    <input type="submit" name="validation" value="Valider">
                </div>
            </div>

            <div class="dateInsertion_ajout_vip">
                <div></div>
                <div class="input_dateInsertion_ajout_vip">
                    <input type="date" name="VIP_DATE_INSERTION" value="{{formatDate moment 'YYYY-MM-DD'}}" hidden>
                </div>
            </div>

        </fieldset>
    </form>
</div>
