{{> menuVips}}

<div class="formulaire_vips">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Modifier VIPs</b> </legend>

            <div class="nom_modif_vip">
                <div class="text_nom_modif_vip">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_modif_vip">
                    <select id="select_vip" name="nom" onchange="selectVip()">
                        <option value="0">- Choisir un vip -</option>
                        {{#each listVips}}
                        <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
function selectVip(value) {
    valueVip = document.getElementById("select_vip").value;
    var myUrl = window.location.href;
    window.location.href= myUrl + "/" + valueVip;
}
</script>
