{{> menuVips}}

<div class="formulaire_vips">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Modifier VIPs</b> </legend>

            <div class="nom_modif_vip">
                <div class="text_nom_modif_vip">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_modif_vip">
                    <select class="" name="nom">
                        {{#each listVips}}
                        <option value="{{this.VIP_NUMERO}}">{{{this.VIP_PRENOM}}} {{this.VIP_NOM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="mesBoutons">
                <div class="btn_validation">
                    <input type="button" name="validation" value="validation">
                </div>
                <div class="btn_annulation">
                    <input type="button" name="annulation" value="annulation">
                </div>
            </div>

        </fieldset>
    </form>
</div>
