{{> menuPhotos}}

<div class="formulaire_photos">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Supprimer une photo</b> </legend>

            <div class="nom_suppr_photos">
                <div class="text_nom_suppr_photos">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_suppr_photos">
                    <select class="nom" name="">
                        <option value="">Laura Liboutet</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </form>
</div>
