{{> menuVips}}

<div class="formulaire_vips">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Supprimer VIPs</b> </legend>

            <div class="nom_modif_vip">
                <div class="text_nom_modif_vip">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_modif_vip">
                    <select class="" name="nom">
                        <option value="">Laura Liboutet</option>
                    </select>
                </div>
            </div>



        </fieldset>
    </form>
</div>
