{{> menuPhotos}}

<div class="formulaire_photos">
    <form class="" action="" method="">
        <fieldset>
            <legend> <b>Supprimer une photo</b> </legend>

            <div class="nom_suppr_photos">
                <div class="text_nom_suppr_photos">
                    <p>Nom du vip :</p>
                </div>
                <div class="input_nom_suppr_photos">
                    <select class="" name="nom">
                        <option value="">Laura Liboutet</option>
                    </select>
                </div>
            </div>

            <div class="mesBoutons">
                <div class="btn_annulation">
                    <input type="reset" name="annulation" value="Annuler">
                </div>
                <div class="btn_validation">
                    <input type="submit" name="validation" value="Valider">
                </div>
            </div>

        </fieldset>
    </form>
</div>
