{{> menuVips}}

<div class="confirmation">
    {{#if addVip}}
    <p><b>{{addVip}}</b> a bien été ajouté !</p>
    <br><br>
    {{/if}}

    {{#if updateVip}}
    <p>Les informations de <b>{{updateVip}}</b> ont été mise à jour !</p>
    <br><br>
    {{/if}}
</div>
